# 연관규칙

In [1]:
# 데이터 구성:Series, DataFrame
import pandas as pd
# 행렬 연산
import numpy as np
# 데이터 전처리 : 항목 값에 대한 index 생성
from mlxtend.preprocessing import TransactionEncoder
# 지지도 계산
from mlxtend.frequent_patterns import apriori
# 연관 규칙
from mlxtend.frequent_patterns import association_rules

In [2]:
kurly = pd.read_csv("df_cluster.csv")
kurly.head()

,Unnamed: 0,idUser,idOrder,OrderDT,ItemCode,Price,DeliveryDT,Delay_YN,ItemLargeCode,ItemLargeName,...,Year,Month,Day,Hour,CleanedItemName,TimeBetweenOrders,Combined,Weekday,WeekdayName,Cluster
0,0,U10001,U10001-O2021-1001,2021-12-03 20:59:27,L1-M12-S0070-1113,17030,2021-12-04 03:26:00,0,L1,가공식품,...,2021,12,3,20,이츠웰 후르츠칵테일 과일통조림 3k 슬라이스,3 days 09:06:40,"2030s, 여성",4,Friday,0
1,1,U10001,U10001-O2021-1001,2021-12-03 20:59:27,L1-M15-S0140-1247,7680,2021-12-04 03:26:00,0,L1,가공식품,...,2021,12,3,20,베지가든 수제교자만두 매콤한 김치맛 720g 360gx2개입,3 days 09:06:40,"2030s, 여성",4,Friday,0
2,2,U10001,U10001-O2021-1001,2021-12-03 20:59:27,L1-M23-S0580-1047,12420,2021-12-04 03:26:00,0,L1,가공식품,...,2021,12,3,20,매일유업 매일 상하치즈 피자용 모짜렐라 슈레드치즈 200gx5봉,3 days 09:06:40,"2030s, 여성",4,Friday,0
3,3,U10001,U10001-O2021-1001,2021-12-03 20:59:27,L4-M12-S0640-1010,6250,2021-12-04 03:26:00,0,L4,신선식품,...,2021,12,3,20,계양구 배달 싱싱한 방울토마토 750g 작전 과일나라,3 days 09:06:40,"2030s, 여성",4,Friday,0
4,4,U10001,U10001-O2021-1001,2021-12-03 20:59:27,L4-M17-S0130-1018,14450,2021-12-04 03:26:00,0,L4,신선식품,...,2021,12,3,20,낙지호롱 900g 20 25개 낙지꼬치구이 냉동낙지 양념소스70gx1팩 제공,3 days 09:06:40,"2030s, 여성",4,Friday,0

In [3]:
kurly.columns

Index(['Unnamed: 0', 'idUser', 'idOrder', 'OrderDT', 'ItemCode', 'Price',
       'DeliveryDT', 'Delay_YN', 'ItemLargeCode', 'ItemLargeName',
       'ItemMiddleCode', 'ItemMiddleName', 'ItemSmallCode', 'ItemSmallName',
       'ItemName', 'Gender', 'Age', 'FamilyCount', 'MemberYN', 'AgeGroup',
       'Date', 'Year', 'Month', 'Day', 'Hour', 'CleanedItemName',
       'TimeBetweenOrders', 'Combined', 'Weekday', 'WeekdayName', 'Cluster'],
      dtype='object')

In [4]:
# 연관분석을 위한 df
kurly_0 = kurly.loc[kurly['Cluster']==0,['idOrder','ItemSmallName']]
kurly_1 = kurly.loc[kurly['Cluster']==1,['idOrder','ItemSmallName']]
kurly_2 = kurly.loc[kurly['Cluster']==2,['idOrder','ItemSmallName']]


kurly_2.shape

(370370, 2)

## Cluster 0

In [5]:
# 고객id 리스트 생성
id = list(set(kurly_0['idOrder']))
id.sort()

# 고객id별 상품 매칭
list_asso = []
for i in id:
    tmp_list = list(kurly_0[kurly_0['idOrder']==i]['ItemSmallName'])
    tmp_list.sort()
    list_asso.append(tmp_list)
    
list_asso[:1]

[['과일', '김치', '낙지', '냉동', '전복', '치즈', '토마']]

In [6]:
# item 기준을 포함 여부에 따라 True/False 반환
enc = TransactionEncoder()
kurly_enc = enc.fit_transform(X=list_asso)
df_asso = pd.DataFrame(kurly_enc, columns = enc.columns_)
df_asso

,갈치,계란,고구,고등,고사,과일,국수,김,김치,깻잎,...,콩나,키위,탄산,토마,파,파스,파프,풋고,호박,혼합
0,False,False,False,False,False,True,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56685,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
56686,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
56687,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,True,False,True
56688,False,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,False,False,False,False
56689,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [8]:
# 규제 선택 최소 지지도
v_min_support = 0.5

df_freq = apriori(df_asso, min_support = 0.01, verbose=-1, use_colnames=True)
df_freq.sort_values(by='support', ascending=False).round(3)

Processing 1060 combinations | Sampling itemset size 43

     support  itemsets
11     0.386      (냉동)
28     0.282      (사과)
2      0.234      (고구)
48     0.217      (토마)
8      0.190      (김치)
..       ...       ...
280    0.010  (도라, 블루)
209    0.010  (김치, 카레)
222    0.010  (낙지, 미역)
412    0.010  (오징, 생선)
393    0.010  (사과, 파스)

[529 rows x 2 columns]

In [9]:
df_asso_rule_0 = association_rules(df_freq, metric='lift', min_threshold=1)
df_asso_rule_0

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(냉동),(계란),0.385535,0.047539,0.018698,0.048499,1.020194,0.000370,1.001009,0.032214
1,(계란),(냉동),0.047539,0.385535,0.018698,0.393321,1.020194,0.000370,1.012833,0.020782
2,(고구),(과일),0.233798,0.132739,0.031857,0.136261,1.026528,0.000823,1.004077,0.033728
3,(과일),(고구),0.132739,0.233798,0.031857,0.240000,1.026528,0.000823,1.008161,0.029798
4,(국수),(고구),0.054419,0.233798,0.013036,0.239546,1.024587,0.000313,1.007559,0.025378
...,...,...,...,...,...,...,...,...,...,...
407,(토마),"(커피, 냉동)",0.216599,0.058370,0.012842,0.059288,1.015730,0.000199,1.000976,0.019768
408,"(커피, 냉동)",(호박),0.058370,0.177386,0.011254,0.192807,1.086939,0.000900,1.019105,0.084943
409,(호박),"(커피, 냉동)",0.177386,0.058370,0.011254,0.063445,1.086939,0.000900,1.005418,0.097233
410,"(토마, 호박)",(냉동),0.032034,0.385535,0.012418,0.387665,1.005524,0.000068,1.003478,0.005676
411,(냉동),"(토마, 호박)",0.385535,0.032034,0.012418,0.032211,1.005524,0.000068,1.000183,0.008941

In [10]:
#### 결과물 정제하기 ####
# dataframe으로 저장
df_asso_rule_0.reset_index(inplace=True, drop=True)
# csv 파일로 결과 저장
df_asso_rule_0.to_csv("cluster_0_association.csv", index=False, encoding='cp949')
# dataframe으로 불러오기
df_0 = pd.read_csv("cluster_0_association.csv", encoding='cp949')
# 특수문자 제거
df_0['antecedents'] = df_0['antecedents'].str[11:-2].str.replace("'", "")
df_0['consequents'] = df_0['consequents'].str[11:-2].str.replace("'", "")
df_0

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,냉동,계란,0.385535,0.047539,0.018698,0.048499,1.020194,0.000370,1.001009,0.032214
1,계란,냉동,0.047539,0.385535,0.018698,0.393321,1.020194,0.000370,1.012833,0.020782
2,고구,과일,0.233798,0.132739,0.031857,0.136261,1.026528,0.000823,1.004077,0.033728
3,과일,고구,0.132739,0.233798,0.031857,0.240000,1.026528,0.000823,1.008161,0.029798
4,국수,고구,0.054419,0.233798,0.013036,0.239546,1.024587,0.000313,1.007559,0.025378
...,...,...,...,...,...,...,...,...,...,...
407,토마,"커피, 냉동",0.216599,0.058370,0.012842,0.059288,1.015730,0.000199,1.000976,0.019768
408,"커피, 냉동",호박,0.058370,0.177386,0.011254,0.192807,1.086939,0.000900,1.019105,0.084943
409,호박,"커피, 냉동",0.177386,0.058370,0.011254,0.063445,1.086939,0.000900,1.005418,0.097233
410,"토마, 호박",냉동,0.032034,0.385535,0.012418,0.387665,1.005524,0.000068,1.003478,0.005676
411,냉동,"토마, 호박",0.385535,0.032034,0.012418,0.032211,1.005524,0.000068,1.000183,0.008941

In [11]:
# 다시 csv파일로 저장
df_0.to_csv("cluster_0_association.csv", index=False, encoding='cp949')

## Cluster 1

In [12]:
# 고객id 리스트 생성
id = list(set(kurly_1['idOrder']))
id.sort()

# 고객id별 상품 매칭
list_asso = []
for i in id:
    tmp_list = list(kurly_1[kurly_1['idOrder']==i]['ItemSmallName'])
    tmp_list.sort()
    list_asso.append(tmp_list)
    
list_asso[:1]

[['고등', '사과', '커피', '파']]

In [13]:
# item 기준을 포함 여부에 따라 True/False 반환
enc = TransactionEncoder()
kurly_enc = enc.fit_transform(X=list_asso)
df_asso = pd.DataFrame(kurly_enc, columns = enc.columns_)
df_asso

,갈치,계란,고구,고등,고사,과일,국수,김,김치,깻잎,...,콩나,키위,탄산,토마,파,파스,파프,풋고,호박,혼합
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55844,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
55845,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
55846,False,False,True,False,False,True,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
55847,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
55848,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [14]:
# 규제 선택 최소 지지도
v_min_support = 0.5

df_freq = apriori(df_asso, min_support = 0.01, verbose=-1, use_colnames=True)
df_freq.sort_values(by='support', ascending=False).round(3)

Processing 264 combinations | Sampling itemset size 4 3

     support  itemsets
11     0.310      (냉동)
2      0.255      (고구)
48     0.252      (토마)
28     0.229      (사과)
41     0.204      (즉석)
..       ...       ...
477    0.010  (호박, 카레)
435    0.010  (즉석, 쇠고)
388    0.010   (파프, 빵)
315    0.010  (딸기, 파프)
352    0.010   (미역, 잼)

[527 rows x 2 columns]

In [15]:
df_asso_rule_1 = association_rules(df_freq, metric='lift', min_threshold=1)
df_asso_rule_1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(냉동),(계란),0.309800,0.049705,0.015417,0.049763,1.001158,0.000018,1.000061,0.001676
1,(계란),(냉동),0.049705,0.309800,0.015417,0.310159,1.001158,0.000018,1.000520,0.001218
2,(즉석),(계란),0.203585,0.049705,0.010296,0.050572,1.017427,0.000176,1.000912,0.021507
3,(계란),(즉석),0.049705,0.203585,0.010296,0.207133,1.017427,0.000176,1.004475,0.018025
4,(고구),(과일),0.255045,0.131193,0.033895,0.132898,1.012996,0.000435,1.001966,0.017222
...,...,...,...,...,...,...,...,...,...,...
409,(토마),"(커피, 냉동)",0.252055,0.048488,0.012928,0.051289,1.057776,0.000706,1.002953,0.073027
410,"(토마, 호박)",(냉동),0.035811,0.309800,0.011603,0.324000,1.045837,0.000509,1.021006,0.045456
411,(냉동),"(토마, 호박)",0.309800,0.035811,0.011603,0.037452,1.045837,0.000509,1.001705,0.063501
412,"(토마, 사과)",(즉석),0.046823,0.203585,0.010170,0.217208,1.066919,0.000638,1.017404,0.065803
413,(즉석),"(토마, 사과)",0.203585,0.046823,0.010170,0.049956,1.066919,0.000638,1.003298,0.078755

In [16]:
#### 결과물 정제하기 ####
# dataframe으로 저장
df_asso_rule_1.reset_index(inplace=True, drop=True)
# csv 파일로 결과 저장
df_asso_rule_1.to_csv("cluster_1_association.csv", index=False, encoding='cp949')
# dataframe으로 불러오기
df_1 = pd.read_csv("cluster_1_association.csv", encoding='cp949')
# 특수문자 제거
df_1['antecedents'] = df_1['antecedents'].str[11:-2].str.replace("'", "")
df_1['consequents'] = df_1['consequents'].str[11:-2].str.replace("'", "")
df_1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,냉동,계란,0.309800,0.049705,0.015417,0.049763,1.001158,0.000018,1.000061,0.001676
1,계란,냉동,0.049705,0.309800,0.015417,0.310159,1.001158,0.000018,1.000520,0.001218
2,즉석,계란,0.203585,0.049705,0.010296,0.050572,1.017427,0.000176,1.000912,0.021507
3,계란,즉석,0.049705,0.203585,0.010296,0.207133,1.017427,0.000176,1.004475,0.018025
4,고구,과일,0.255045,0.131193,0.033895,0.132898,1.012996,0.000435,1.001966,0.017222
...,...,...,...,...,...,...,...,...,...,...
409,토마,"커피, 냉동",0.252055,0.048488,0.012928,0.051289,1.057776,0.000706,1.002953,0.073027
410,"토마, 호박",냉동,0.035811,0.309800,0.011603,0.324000,1.045837,0.000509,1.021006,0.045456
411,냉동,"토마, 호박",0.309800,0.035811,0.011603,0.037452,1.045837,0.000509,1.001705,0.063501
412,"토마, 사과",즉석,0.046823,0.203585,0.010170,0.217208,1.066919,0.000638,1.017404,0.065803
413,즉석,"토마, 사과",0.203585,0.046823,0.010170,0.049956,1.066919,0.000638,1.003298,0.078755

In [17]:
# 다시 csv파일로 저장
df_1.to_csv("cluster_1_association.csv", index=False, encoding='cp949')

## Cluster 2

In [18]:
# 고객id 리스트 생성
id = list(set(kurly_2['idOrder']))
id.sort()

# 고객id별 상품 매칭
list_asso = []
for i in id:
    tmp_list = list(kurly_2[kurly_2['idOrder']==i]['ItemSmallName'])
    tmp_list.sort()
    list_asso.append(tmp_list)
    
list_asso[:1]

[['고구', '김', '라면', '블루', '스낵', '토마', '파']]

In [19]:
# item 기준을 포함 여부에 따라 True/False 반환
enc = TransactionEncoder()
kurly_enc = enc.fit_transform(X=list_asso)
df_asso = pd.DataFrame(kurly_enc, columns = enc.columns_)
df_asso

,갈치,계란,고구,고등,고사,과일,국수,김,김치,깻잎,...,콩나,키위,탄산,토마,파,파스,파프,풋고,호박,혼합
0,False,False,True,False,False,False,False,True,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,True,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64335,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64336,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
64337,False,False,True,True,False,False,False,True,False,False,...,False,False,False,True,False,False,True,False,False,False
64338,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
64339,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
# 규제 선택 최소 지지도
v_min_support = 0.5

df_freq = apriori(df_asso, min_support = 0.01, verbose=-1, use_colnames=True)
df_freq.sort_values(by='support', ascending=False).round(3)

Processing 472 combinations | Sampling itemset size 4 3

     support      itemsets
28     0.314          (사과)
11     0.295          (냉동)
2      0.230          (고구)
48     0.211          (토마)
41     0.197          (즉석)
..       ...           ...
521    0.010  (호박, 냉동, 즉석)
518    0.010   (파, 사과, 냉동)
160    0.010      (국수, 즉석)
376    0.010       (파, 블루)
511    0.010  (김치, 냉동, 토마)

[525 rows x 2 columns]

In [21]:
df_asso_rule_2 = association_rules(df_freq, metric='lift', min_threshold=1)
df_asso_rule_2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(냉동),(계란),0.294964,0.048710,0.015449,0.052376,1.075271,0.001081,1.003869,0.099289
1,(계란),(냉동),0.048710,0.294964,0.015449,0.317167,1.075271,0.001081,1.032515,0.073586
2,(즉석),(계란),0.196783,0.048710,0.010258,0.052129,1.070183,0.000673,1.003607,0.081647
3,(계란),(즉석),0.048710,0.196783,0.010258,0.210593,1.070183,0.000673,1.017495,0.068938
4,(고구),(과일),0.229779,0.131520,0.030323,0.131967,1.003398,0.000103,1.000515,0.004397
...,...,...,...,...,...,...,...,...,...,...
415,(호박),"(냉동, 즉석)",0.173624,0.052565,0.010087,0.058097,1.105249,0.000961,1.005874,0.115234
416,"(커피, 냉동)",(토마),0.045462,0.211051,0.010103,0.222222,1.052933,0.000508,1.014363,0.052666
417,(토마),"(커피, 냉동)",0.211051,0.045462,0.010103,0.047868,1.052933,0.000508,1.002527,0.063720
418,"(토마, 사과)",(커피),0.055704,0.175552,0.010149,0.182199,1.037863,0.000370,1.008128,0.038634
419,(커피),"(토마, 사과)",0.175552,0.055704,0.010149,0.057813,1.037863,0.000370,1.002239,0.044250

In [22]:
#### 결과물 정제하기 ####
# dataframe으로 저장
df_asso_rule_2.reset_index(inplace=True, drop=True)
# csv 파일로 결과 저장
df_asso_rule_2.to_csv("cluster_2_association.csv", index=False, encoding='cp949')
# dataframe으로 불러오기
df_2 = pd.read_csv("cluster_2_association.csv", encoding='cp949')
# 특수문자 제거
df_2['antecedents'] = df_2['antecedents'].str[11:-2].str.replace("'", "")
df_2['consequents'] = df_2['consequents'].str[11:-2].str.replace("'", "")
df_2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,냉동,계란,0.294964,0.048710,0.015449,0.052376,1.075271,0.001081,1.003869,0.099289
1,계란,냉동,0.048710,0.294964,0.015449,0.317167,1.075271,0.001081,1.032515,0.073586
2,즉석,계란,0.196783,0.048710,0.010258,0.052129,1.070183,0.000673,1.003607,0.081647
3,계란,즉석,0.048710,0.196783,0.010258,0.210593,1.070183,0.000673,1.017495,0.068938
4,고구,과일,0.229779,0.131520,0.030323,0.131967,1.003398,0.000103,1.000515,0.004397
...,...,...,...,...,...,...,...,...,...,...
415,호박,"냉동, 즉석",0.173624,0.052565,0.010087,0.058097,1.105249,0.000961,1.005874,0.115234
416,"커피, 냉동",토마,0.045462,0.211051,0.010103,0.222222,1.052933,0.000508,1.014363,0.052666
417,토마,"커피, 냉동",0.211051,0.045462,0.010103,0.047868,1.052933,0.000508,1.002527,0.063720
418,"토마, 사과",커피,0.055704,0.175552,0.010149,0.182199,1.037863,0.000370,1.008128,0.038634
419,커피,"토마, 사과",0.175552,0.055704,0.010149,0.057813,1.037863,0.000370,1.002239,0.044250

In [23]:
# 다시 csv파일로 저장
df_2.to_csv("cluster_2_association.csv", index=False, encoding='cp949')

In [27]:
df_0.sort_values(by=["antecedents", "confidence"])

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,계란,냉동,0.047539,0.385535,0.018698,0.393321,1.020194,0.000370,1.012833,0.020782
26,고구,아몬,0.233798,0.043429,0.010355,0.044289,1.019787,0.000201,1.000899,0.025324
10,고구,드레,0.233798,0.045846,0.011043,0.047231,1.030214,0.000324,1.001454,0.038277
339,고구,"과일, 냉동",0.233798,0.045352,0.011131,0.047608,1.049752,0.000528,1.002369,0.061856
17,고구,맛김,0.233798,0.049233,0.011572,0.049494,1.005318,0.000061,1.000275,0.006904
...,...,...,...,...,...,...,...,...,...,...
320,호박,즉석,0.177386,0.186206,0.033163,0.186953,1.004014,0.000133,1.000919,0.004860
150,호박,냉동,0.177386,0.385535,0.070788,0.399065,1.035094,0.002400,1.022515,0.041215
277,혼합,상추,0.081513,0.152849,0.012507,0.153430,1.003802,0.000047,1.000686,0.004124
337,혼합,호박,0.081513,0.177386,0.015100,0.185241,1.044285,0.000640,1.009642,0.046170
267,혼합,사과,0.081513,0.281760,0.023073,0.283056,1.004597,0.000106,1.001807,0.004982

In [28]:
df_1.sort_values(by=["antecedents", "confidence"])

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
3,계란,즉석,0.049705,0.203585,0.010296,0.207133,1.017427,0.000176,1.004475,0.018025
1,계란,냉동,0.049705,0.309800,0.015417,0.310159,1.001158,0.000018,1.000520,0.001218
8,고구,당면,0.255045,0.039499,0.010493,0.041140,1.041539,0.000418,1.001711,0.053537
28,고구,아몬,0.255045,0.042203,0.010976,0.043036,1.019728,0.000212,1.000870,0.025970
12,고구,땅콩,0.255045,0.043653,0.011621,0.045563,1.043745,0.000487,1.002001,0.056261
...,...,...,...,...,...,...,...,...,...,...
361,혼합,파,0.085624,0.125804,0.010833,0.126516,1.005664,0.000061,1.000816,0.006160
297,혼합,상추,0.085624,0.151928,0.013035,0.152238,1.002041,0.000027,1.000366,0.002227
115,혼합,김치,0.085624,0.194650,0.017028,0.198871,1.021685,0.000361,1.005269,0.023212
287,혼합,사과,0.085624,0.229494,0.020251,0.236512,1.030581,0.000601,1.009192,0.032452
41,혼합,고구,0.085624,0.255045,0.022686,0.264952,1.038844,0.000848,1.013478,0.040893

In [29]:
df_2.sort_values(by=["antecedents", "confidence"])

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
3,계란,즉석,0.048710,0.196783,0.010258,0.210593,1.070183,0.000673,1.017495,0.068938
1,계란,냉동,0.048710,0.294964,0.015449,0.317167,1.075271,0.001081,1.032515,0.073586
12,고구,땅콩,0.229779,0.042244,0.010445,0.045455,1.075992,0.000738,1.003363,0.091694
379,고구,"커피, 냉동",0.229779,0.045462,0.010678,0.046469,1.022163,0.000232,1.001057,0.028150
10,고구,드레,0.229779,0.046068,0.010942,0.047619,1.033674,0.000356,1.001629,0.042296
...,...,...,...,...,...,...,...,...,...,...
156,호박,냉동,0.173624,0.294964,0.051710,0.297825,1.009698,0.000497,1.004074,0.011623
199,혼합,딸기,0.085872,0.118107,0.010507,0.122353,1.035951,0.000365,1.004838,0.037963
369,혼합,파,0.085872,0.126873,0.011097,0.129231,1.018585,0.000202,1.002708,0.019960
371,혼합,호박,0.085872,0.173624,0.015154,0.176471,1.016392,0.000244,1.003456,0.017643
121,혼합,김치,0.085872,0.186975,0.016661,0.194027,1.037715,0.000606,1.008749,0.039758